.family-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registration-form{
    margin-top: 70px;
}

.registration-form h2{
    margin: 8px;
}

.family-head img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid #3b7197;
    padding: 3px;
}
.family-head p{
    font-weight: 600;
}


.selection-grands{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
    margin: 10px;

}

.selection-item-1, .selection-item-2, .selection-item-3, .selection-item-4{
    border-radius: 15px;
}

.selection-grands img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid #3b7197;
    pointer-events: none;
}

.selection-grands p{
    pointer-events: none;
}

.selection-grands >*{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 4px;
    flex: 1 1 18%;
}

.form-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.form-content img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #3b7197;
}

.form-content input{
    outline: none;
    border: none;
    border: 1px solid #3b7197;
    padding: 4px;
    border-radius: 3px;
    margin: 8px;
    width: 90%;
    padding: 8px;
}

.married, .not-married{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0;
}

.married input, .not-married input{
    width: 100%;
} 

.radioBtn{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.radioBtn input, span{
    padding: 0;
    margin: 0;
}
.radioBtn span{
    font-size: 14px;
    font-weight: 600;
    width: 100%;
}

.add-child{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3b7197;
    border-radius: 15px;
    width: 100px;
    margin-left: 10px;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    cursor: pointer;
}

.prompt-sect-1 >*{
    flex: 1 1 50%;
}

.formSubmit{
    background-color: #3b7197;
    color: #fff;
    text-align: center;
    outline: none;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    width: 70%;
}

.chilren-list img{
    width: 20px;
    display: none;
}

.chilren-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.chilren-list >*{
    flex: 1 1 20%;
    text-align: center;
    width: fit-content;
}

.child-name{
    display: flex;
    align-items: center;
    background-color: #74bde0;
    color: #fff;
    font-weight: 500;
    border-radius: 6px;
    text-align: center;
}

.input-holders img{
    width: 30px;
}
.selections-element{
    margin: 20px;
}

.selections-element h4{
    border-bottom: 1px solid #3b7197;
    width: fit-content;
    margin-bottom: 8px;
}

.input-holders{
    margin-top: 5px;
}


.input-holders >*{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-top: 6px;
}

#reg-profile{
    background-color: #3b7197;
    color: #fff;
    font-weight: 600;
    border-radius: 6px;
    text-align: center;
    padding: 6px 12px;
    margin-top: 15px;
}





















@media(max-width:767px){
    .selection-grands >*{
        flex: 1 1 33%;
    }
}